<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .services }}
      <div class="ph2-ns w-50-ns">
        <div class="bg-primary white f3 mh4 mb3 services-r tc"><span>{{.heading}}</span></div>
        <p>{{.text}}</p>
        <div class="tc pb2">
          <a href="{{.address}}" class="btn raise">Learn more</a>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="pa2 tc">
			<a href="#" class="btn-full center raise mb3">Make an Appointment</a>
		</div>
  </div>
</div>
