<div class="bg-grey-1 pt4">
  <div class="ph3 mw7 center">
    <div class="flex-ns mhn2-ns mb3">
      <div class="ph2-ns pt4 w-70-ns">
        <p>{{.text}}</p>
        <p><strong>NOTE: Due to COVID-19, counselling at this time will only be offered virtually in order to keep everyone as safe as possible.  </strong></p>
        <div class="tc">
          <a href="/about" class="btn mb3 raise">About Courtney</a>
        </div>
      </div>
      <div class="ph2-ns w-30-ns">
        <img src="{{.profile}}" alt="Courtney Sedlak" class="center db mb2" style="width: 250px">
      </div>
    </div>
  </div>
</div>
