<footer class="bg-grey-2 ph3 pv4">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<img src="/img/logo.png" alt="Courtney Sedlak Counselling logo" class="db w4 left mb4 br0">
				<ul class="flex-wrap">
					<li><a href="/services/eating-disorders" class="pr3 link">Eating Disorders</a></li>

					<li><a href="/services/youth-counselling" class="pr3 link">Youth</a></li>

					<li><a href="/values" class="pr3 link">My Approach</a></li>					
					
					<li><a href="/about" class="pr3 link">About</a></li>
					
					<li><a href="/post" class="pr3 link">Blog</a></li>

					<li><a href="/contact" class="pr3 link">Contact</a></li>
				</ul>
			</div>

			<div class="tr">
				
				<ul class="tr">
					<li><a href="#" class="btn-full w100">Make an appointment</a></li>
				</ul>

				<div class="mt1 tr flex">
					<p>778-927-2142<br />
					courtney@courtneysedlak.com</p>	
				</div>
			</div>
			

		</div>
		<div class="tc w100 sideb">All Rights Reserved {{ with .Site.Params.copyright }}{{.}}{{ else }}© {{ now.Format "2006"}} {{end}}</p>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
