<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4a flex-none">
		<img src="/img/logo.png" alt="Courtney Sedlak logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/services/eating-disorders" class="pa3 no-underline db">Eating Disorders</a></li>

		<!--<li><a href="/services/youth-counselling" class="pa3 no-underline db">Youth</a></li>-->

		<li><a href="/values" class="pa3 no-underline db">My Approach</a></li>

		<li><a href="/about" class="pa3 no-underline db">About</a></li>
		
		<!--<li><a href="/post" class="pa3 no-underline db">Blog</a></li>-->

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>

		<li><a href="https://courtneysedlak.janeapp.com/#/staff_member/1" class="btn-full ma2 db">Make an Appointment</a></li>
	</ul>

</nav>
