{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.quote "subtitle" .Params.author) }}

<div class="ph3 pb3 bg-off-white"> <!-- style="background-image:url('{{ .Params.image }}');background-repeat:no-repeat;background-position: 50vw 0;"> -->
	<div class="center mw7 pv3">
    <h3 class="f2 b lh-title mb3 primary">{{ .Title }}</h3>

    <p>{{ .Content }}</p>
    
  </div>
  <div class="tc db">
    <a href="#" class="btn-full center raise">Make an Appointment</a>
  </div>
</div>

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "image" .Params.values.image "buttonText" "Read more" "buttonLink" "/values") }}


<!-- <div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div> -->


{{ end }}
